<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if(locals.url){ %>
    <p>
      URL Generated :
      <a href="http://localhost:3000/<%= url.shortId %>" target="_blank"
        >http://localhost:3000/<%= url.shortId %></a
      >
    </p>
    <% } %>
    <div>
      <form action="/url" method="POST">
        <label for="url">Enter Your Original URL</label>
        <input type="text" id="url" name="url" placeholder="Enter Your URL.." />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if(locals.urls){ %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortId</th>
          <th>RedirectUrl</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index)=> { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% }%>
    </div>
  </body>
</html>
